.divider-1 {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider-2 {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider-3 {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}