* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

@import url('sliders.css');
.show-banner {
    padding: 0;
    margin: 0;
    background-color: rgb(68, 1, 116);
    background-image: url("https://cdn.dribbble.com/users/247458/screenshots/5083720/wallpaper2.jpg?compress=1&resize=800x600");
    background-position: center;
    background-size: cover;
    color: white;
    height: 700px;
}

.show-banner-sub {
    padding: 0px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

.show-banner h1 {
    font-size: 30pt;
}

.logo-cap {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo-area {
    display: flex;
    margin: 20px;
    width: 70%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo-area img {
    width: 300px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.179);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.145);
    border-radius: 5px;
}

.logo-item {
    margin: 15px;
}

.logo-item h4 {
    padding-left: 10px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

#memoji {
    width: 200px;
}

.btn-action {
    text-align: center;
    background-color: rgb(6, 199, 102);
    width: 90%;
    padding: 15px;
    margin: 12px;
    margin-left: 0;
    border-radius: 3px;
    border: solid 3px white;
}

.btn-action a {
    text-decoration: none;
    color: white;
}

.promo {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.promo a {
    text-decoration: none;
    color: springgreen;
}

.promo a:hover {
    text-decoration: underline;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.services section {
    box-shadow: 1px 2px 2px 2px rgb(3, 175, 89);
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.services ul {
    list-style: inside;
    padding: 5px;
}

.services h1 {
    font-size: 30pt;
    padding: 10px;
    color: rgb(3, 175, 89);
}

.services h4 {
    font-size: 15pt;
    padding: 10px;
}

#check {
    width: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

footer ul {
    list-style: none;
    padding: 20px;
}

footer li {
    display: inline-block;
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}