* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

@import url('sliders.css');
.show-banner {
    padding: 0;
    margin: 0;
    background-color: #150126;
    background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHVycGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    color: white;
    height: 700px;
}

.show-banner-sub {
    padding: 0px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

.show-banner h1 {
    font-size: 30pt;
}

.logo-cap {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo-area {
    display: flex;
    margin: 20px;
    width: 70%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo-area img {
    width: 300px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.179);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.145);
    border-radius: 5px;
}

.logo-item {
    margin: 15px;
}

.logo-item h4 {
    padding-left: 10px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

#memoji {
    width: 200px;
}

.btn-action {
    text-align: center;
    background-color: #0CA55A;
    width: 90%;
    padding: 15px;
    margin: 12px;
    margin-left: 0;
    border-radius: 3px;
    border: solid 3px white;
}

.btn-action a {
    text-decoration: none;
    color: white;
}

.promo {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.promo a {
    text-decoration: none;
    color: springgreen;
}

.promo a:hover {
    text-decoration: underline;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.services section {
    margin: 10px;
    padding: 10px;
    width: 300px;
}

#services-1 {
    box-shadow: 2px 2px 6px 4px #0CA55A;
}

#services-1 h1 {
    color: #010626;
}

#services-2 {
    box-shadow: 2px 2px 6px 4px #0CA55A;
}

#services-2 h1 {
    color: #010626;
}

#services-3 {
    box-shadow: 2px 2px 6px 4px #0CA55A;
}

#services-3 h1 {
    color: #010626;
}

.services ul {
    list-style: none;
    padding: 5px;
}

.services li {
    padding-left: 5px;
}

.services h1 {
    font-size: 30pt;
    padding: 10px;
}

.services h4 {
    font-size: 15pt;
    padding: 10px;
}

#check {
    width: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.about-area {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.about-items {
    height: 300px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #150126;
    color: white;
}

.about-items ul {
    list-style: none;
    text-align: center;
}

.about-items li {
    display: inline-block;
    margin: 15px;
}

.about-items a {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
}

.about-items h2{
    margin: 20px;
}

#whatsapp {
    background-color: rgb(4, 150, 77);
}

#instagram {
    background-color: rgb(153, 2, 136);
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

footer ul {
    list-style: none;
    padding: 20px;
}

footer li {
    display: inline-block;
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}